.container_menu-title{
  color: white;
}

.container_menu-title > h1{
  margin: 15px 0px;
  font-size: 70px;

  /* font-size: 150px */

  text-align: center;
  text-transform: uppercase;
}

.container_menu-title > hr{
  margin: 20px 0px;
}